body{
    background-color: #e3e3e3;
}
    .container {
      display: inline-block;

      width: 200px;
      height: 300px;
      border: 1px solid #ccc;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
      padding: 10px;
      
      
    }
    #container1{
        
        margin-left:500px;
    }
    #container2{
        margin-left:50px;
    }
    
    .item {
      margin-bottom: 10px;
      padding: 10px;
      background-color:darkorange;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
      font-family: "Playfair Display";
      font-weight: bold;
      cursor: move;
     

    }
    .item:hover{
    width:80%;
    height:5%;
    margin-left:5%;
    }
    
    .item.dragging {
      opacity: 0.5;
    }
    
    .success-message {
      display: none;
      color: green;
      font-weight: bold;
    }
    
    .reset-button {
    position: absolute;
      
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
      width:100px;
      height:30px;
      border:none;
      font-family: "Playfair Display";
      font-weight: bold;
      background-color: cornflowerblue;
      margin-left:-300px;
      margin-top:500px;
      font-size:15px;
      cursor:pointer;
    }
    .reset-button:hover{
    font-size:12px;
    }